<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new item</title>
</head>
<body>
    <form action = '/create' method = 'POST'>
        <h1> Enter a budget item. </h1>
            <p> item: <input type = 'text' name = 'item'> </p>
            <p> account: <input type = 'text' name = 'account'> </p>
            <p> vendor: <input type = 'text' name = 'vendor'> </p>
            <p> quantity: <input type = 'number' name = 'quantity'> </p>
            <p> group (i/e): <input type = 'text' name = 'group'> </p>
            <p> amount: <input type = 'number' name = 'amount'> </p>
            <p> currency (three letter code): <input type = 'text' name = 'currency'> </p>
            <p> date (dd/mm/yyyy): <input type = 'text' name = 'date'> </p>
            <p>
                <input type = 'submit' name = 'Submit'>
            </p>
    </form>
<a href = ./> Click here to return to all items.</a>
</body>
</html>